<h1>Confirm account</h1>

<.form let={_f} for={:user} action={Routes.user_confirmation_path(@conn, :update, @token)}>

<div class="col mt-4">
    <%= submit "Confirm my account",class: "btn btn-success" %>
    <%= link "Register", to: Routes.user_registration_path(@conn, :new), class: "btn btn-link" %>
    <%= link "Login", to: Routes.user_session_path(@conn, :new), class: "btn btn-link" %>
  </div>
</.form>
