<h1>Show Publisher</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @publisher.name %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.publisher_path(@conn, :edit, @publisher) %></span> |
<span><%= link "Back", to: Routes.publisher_path(@conn, :index) %></span>
