<ul class="navbar-nav mb-2 mb-lg-0">
    <li><%= link "Register", to: Routes.user_registration_path(@conn, :new),class: "dropdown-item" %></li>
    <li><%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "dropdown-item" %></li>
</ul>




