<section class="row py-4">
  <div class="d-flex flex-column align-items-center">
    <h1 class="fw-light mb-4">New Language</h1>
  </div>
  <div class="col-lg-6 col-12 mx-lg-auto my-4">
    <%= render "form.html", Map.put(assigns, :action, Routes.language_path(@conn, :create)) %>
  </div>
</section>